body {
    background-color: black;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 1800px) {
    .intro__one__text p {
        font-size: 75px;
    }
}

@media screen and (max-width: 850px) {
    .navigation {
        display: none;
    }

    .header .burger__menu {
        display: block;
    }

    .change .burger__menu__text {
        display: block;
        width: 100%;
        height: 365px;
        background-color: black;
        margin-top: 10px;
        position: absolute;
        left: 0;
        
        transition: 0.6s all ease;
    }

    .header__logo img {
        width: 200px;
    }

    .burger__menu .burger__link {
        color: white;
        border-bottom: 1px solid #ffec83;
        width: 80%;
        display: flex;
        padding: 20px;
    }

    .burger__menu .burger__link {
        text-decoration: none;
        margin: 20px;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-12px, 6px);
        transition: 0.6s all ease;
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-12px, -8px);
        transition: 0.6s all ease;
    }

    .intro__one__text p {
        font-size: 40px;
    }
}

.header {
    display: block;
    height: 100px;
    background-color: black;
    position: fixed;
    width: 100%;

    padding-bottom: 20px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
}

.navigation{
    justify-content: right;
    text-align: center;
    text-transform: uppercase;
}

.link{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;

    margin: 25px;
}

.link:hover {
    border-bottom: 5px solid gold;
    padding-bottom: 45px;
    color: gold;
    transition: 0.3s all ease;
}

.burger__menu {
    display: inline-block;
    cursor: pointer;
    display: none;
}

.bar1, .bar2, .bar3 {
    background-color: white;
    width: 45px;
    height: 6px;
    margin: 8px 0px;
}

.burger__menu__text {
    display: none;
}





.intro__one {
    padding-top: 200px;
    background: url(intro1.jpg);
    height: 600px;
}

.intro__one__text p {
    text-transform: uppercase;
    margin: 0;
    color: white;
    font-weight: 500;
    text-align: center;
}

.intro__one__text .intro__one__logo {
    color: #ffec83;
    font-family: 'Courier New', Courier, monospace;
}

.intro__one__icon {
    text-align: center;
    margin-top: 40px;

    animation: oneicon 0.7s alternate-reverse infinite;
}

@keyframes oneicon {
    to {
        padding-top: 0px;
    }
    from {
        padding-top: 50px;
    }
}